$bp-small: "only screen and (max-width: 414px)";
$bp-medium: "only screen and (max-width: 768px)";
$bp-large: "only screen and (max-width: 1600px)";

$small-breakpoint: 414px;
$medium-breakpoint: 768px;