#header {
    padding: 0 10px;

    .header_user {
        &_name {

        }

        &_image {
            float: right;
            height: 50px;
            border: whitesmoke 2px solid;
            border-radius: 50%;
            clear: both;

            &::after {
                clear: both;
            }
        }
    }


    &.header-docking {
        background: white;
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 1;
        color: #7EB9E3;
        height: 58px;

        .header_user {
            &_name {

            }

            &_image {
                border: #7EB9E3 4px solid;
            }
        }
    }
}
