*{
	font-family:sans-serif;
}

body{
	background-color:whitesmoke;
	margin: 0px;
}

input{
	background: transparent;
	border-top:transparent;
	border-bottom: solid 1px #3F51B5;
	border-left: transparent;
	border-right: transparent;
}
.iconfont{
	cursor: pointer;
}

.iconfont.icon-left{
	font-size:x-large;
	padding-left: 10px;
	padding-right: 10px;
}

.iconfont.icon-right{
	font-size:x-large;
	padding-left: 10px;
	padding-right: 10px;
	float:right;
}


#header{
	position: fixed;
	height:40px;
	width:100%;
	top:0px;
	color:white;
	z-index: 1;
	padding: 0px 5px;
	line-height: 35px;
}

#container{
	background-image: url(http://ww1.sinaimg.cn/large/75338fa1jw1f2jmmmurj7j21be0qonf0.jpg);
	background-attachment: fixed;
	background-position: 50% 50%;
	background-color: whitesmoke;
	width:100%;
	height: 100vh;
	overflow-y: scroll;
}

@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 980px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {

        #container {
            background-position: 50% 20%;
            background-size: 3400px;
        }
}

.pull-right{
	float: right;
}

.login-view {
    height: 100%;
}

.login-background {
    background-color: black;
    opacity: 0.5;
    height: 100%;
}

.login-form {
    color: white;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}

.login-form i {
    font-size: 30px;
}

.login-form button {
    width: 100px;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.login-form button:hover {
    background: white;
    transition: background-color .2s ease-out;
}