.pull-right{
    float: right;
}

.login-view {
    height: 100%;
}

.login-background {
    background-color: black;
    opacity: 0.5;
    height: 100%;
}

.login-form {
    color: white;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}

.login-form i {
    font-size: 25px;
    vertical-align: middle;
}

.login-form button {
    width: 200px;
    text-align: left;
    border: none;
    border-radius: 10px;
}

.login-form button:hover {
    background: white;
    transition: background-color .15s ease-out;
}

.login-form button span {
    display: inline-block;
    width: 73%;
    text-align: center;
}
